<div class="footer">
    <div class="main">
        <div class="site-info d-flex flex-row justify-content-around">
            <div class="site-brand">
                <h6>STUDENT SMART PRINTING SERVIVE</h6>
                <img src="/assets/picture/hcmut.png" width="auto" height="100" alt="hcmut logo">
            </div>
            <div class="website">
                <h6>WEBSITE</h6>
                <div class="webs">
                    <p>HCMUT</p>
                    <p>MyBK</p>
                    <p>BKSI</p>
                </div>
            </div>
            <div class="contact">
                <h6>LIÊN HỆ</h6>
                <div class="contact-info">
                    <p><i class="fa-solid fa-location-dot"></i> 268 Lý Thường Kiệt, P.14, Q.10, TP.HCM</p>
                    <p><i class="fa-solid fa-square-phone-flip"></i> (028) 38 651 670 - (028) 38 647 256 (Ext: 5258, 5234)</p>
                    <p><i class="fa-solid fa-envelope"></i><a href="mailto:mail@mail.com"> elearning@hcmut.edu.vn</a></p>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <p style="padding: 8px 0; text-align: center;">Copyright 2007-2022 BKEL - Phát triển dựa trên Moodle</p>
        </div>
    </div>
    <style>
        .footer, a {
            color: white;
            text-decoration: none;
        }
        a:hover {
            color: white;
            text-decoration: underline;
        }
        .footer .main{
            background: url('https://e-learning.hcmut.edu.vn/theme/image.php/boost/theme/1685588876/hcmut2');
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
        }
        .footer .site-info {
            padding: 32px;
            background-color: rgba(6, 57, 112, 0.6);
        }
        .copy-right {
            background-color: #164399;
        }
    </style>
</div>
<script src="/public/scripts/layout.js"></script>
<script src="https://kit.fontawesome.com/94316c747f.js" crossorigin="anonymous"></script>
</body>
</html>