    <%- include("layout/header"); %>

    <main style="min-height: 386px;">
        <div class="bpleft">  
            <h2>Mua trang in</h2>
            <form method="POST" id="form">
                <label for="page-num" class="bp_numplabel">Nhập số trang muốn mua:</label>
                <input id="page-num" class="bp_nump" type="number" name="bp_nump" placeholder="Numbers of pages...">
                <br>
                <select class="bp_nump" name="bp_sizep" id="page-type">  
                    <option value="0" hidden>Chọn khổ giấy</option>
                    <option value="A3">A3</option>
                    <option value="A4">A4</option>
                </select>
                <br>
                <input id="submitbtn" type="submit" value="Xác nhận" disabled="true">
            </form>
            <div id="total" hidden></div>
            <div class="bpinfo">
                <p>Số dư trang in (page) của bạn: <span id="remain-page"></span> trang<br></p>
                <p>Mức giá hiện tại: <span id="page-price"></span>VND/40 trang</p>                
            </div>
        </div>
        <div class="bpright">
            <h2>Lịch sử mua trang in:</h2>
            <table id="bptable">
                <thead>
                    <tr class="bpoddrow">
                        <th scope="col">Mã hóa đơn</th>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Số trang mua</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </main>

    <script src="/public/scripts/buyPagesScript.js"></script>
    <%- include("layout/footer"); %>