<%- include("layout/header"); %>
    <div class="home-wrapper d-flex flex-row justify-content-between">
        <img src="img/trang-chu.jpg" class="left-image">
        <div class="right-panel">
            <div class="service-panel">
                <h2 style="text-align: center;">Dịch vụ In ấn cho Sinh viên</h2>
                <a href="activitylog" class="service-button" style="display: block; text-align: center; text-decoration: none;">Xem lịch sử in</a>
                <a href="printing-request" class="service-button" style="display: block; text-align: center; text-decoration: none;">Đăng ký in</a>
                <a href="buy-pages" class="service-button" style="display: block; text-align: center; text-decoration: none;">Mua trang in</a>
            </div>
        </div>
        <div></div>
    </div>
<%- include("layout/footer"); %>